@font-face {
    font-family: 'zhanghaishan';
    src: url('../fonts/zhanghaishan.eot');
    src: local('zhanghaishan Regular'),
         local('zhanghaishan'),
         url('../fonts/zhanghaishan.woff') format('woff'),
         url('../fonts/zhanghaishan.ttf') format('truetype'),
         url('../fonts/zhanghaishan.svg#zhanghaishan') format('svg');
   }
.indexWrap{
    font-family: zhanghaishan;
}
.indexWrap nav{
    height:90px;
    padding-top:20px;
    background:url(../img/1.jpg)
}
.indexWrap .navbar-header{
    height:70px
}
.indexWrap #menu>ul>li>a{
    color:#fff;
    cursor: pointer
}
.indexWrap .searchInput{
    margin:10px    
}
.indexWrap .inputHidden{
    display:none
}
.indexWrap .EmailDivImg{
    width:100%
}
.indexWrap .EmailDiv{
    position:relative
}
.indexWrap .infoDiv{
    position:absolute;
    top:0;
    left:0;
}
.indexWrap .yourNameDiv,.indexWrap .telephoneNumberDiv{
    border:1px solid #D4C0BC;
    padding-left:7px;
    background:#fff;
    display:inline-block;
}
.indexWrap .yourName,.indexWrap .telephoneNumber{
    height:33px;
    padding:5px;
    position:relative;
    border:none;
    outline: none;
    margin-left:7px
    
}
.indexWrap .yourNameDiv:before,.indexWrap .telephoneNumberDiv:before{
    content:'';
    display:inline-block;
    width:1px;
    height:15px;
    background:#887770;
    position:relative;
    left:26px;
    top:2px;
}
.indexWrap .sendEmailBtnDiv{
    display:inline-block;
    background:#0DABDE;
    padding-right:15px;
    color:#fff;
}
.indexWrap .sendEmailBtn{
    padding:6px 40px;
    border:none;
    outline: none;
    background:#04C4FF;
    margin-right:5px;
}
@media screen and (max-width:767px){
    .indexWrap nav{
        background:none;
        height:30px;
        padding-top:0;
    }
    .indexWrap #menu>ul>li>a{
        color:#000
    }
    .indexWrap .navbar-header{
        height:48px
    }
}