@font-face {
    font-family: 'zhanghaishan';
    src: url('../fonts/zhanghaishan.eot');
    src: local('zhanghaishan Regular'),
         local('zhanghaishan'),
         url('../fonts/zhanghaishan.woff') format('woff'),
         url('../fonts/zhanghaishan.ttf') format('truetype'),
         url('../fonts/zhanghaishan.svg#zhanghaishan') format('svg');
   }
.indexWrap{
    font-family: zhanghaishan;
}
.indexWrap nav{
    height:90px;
    padding-top:20px;
    background:url(../img/1.jpg)
}
.indexWrap .navbar-header{
    height:70px
}
.indexWrap #menu>ul>li>a{
    color:#fff;
    cursor: pointer
}
.indexWrap .searchInput{
    margin:10px    
}
.indexWrap .inputHidden{
    display:none
}
.indexWrap .EmailDivImg{
    width:100%
}
.indexWrap .EmailDiv{
    position:relative
}
.indexWrap .infoDiv{
    position:absolute;
    top:0;
    left:0;
}
.indexWrap .yourName,.indexWrap .telephoneNumber{
    height:40px;
    padding:5px;
    position:relative;
    border:1px solid #D4C0BC;
    border-left:none;
    outline: none;
}

@media screen and (max-width:767px){
    .indexWrap nav{
        background:none
    }
    .indexWrap #menu>ul>li>a{
        color:#000
    }
}